{%extends 'EmployeeApp/base.html'%}
{%block content%}
{%load static%}

<style>
    /* Add styles for date input */
    input[type="date"] {
      padding: 20px;
      border: 0.01px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      width: 100%; /* Adjust the width as needed */
    }
    #top{
        background-color:  rgb(26, 23, 59);
        color: white;
        margin-top: -15px;

     
    }
    #top ul li{
        color: white;
        margin-top: -5px;
    }
    #top a{
        color: white;
        
    }
    #top h3{
        color: white;
    }
    #submit_action{
        padding: 10px;
    }
    .card .card-header {
    padding: 0px 0px 0px;
}
.page-wrapper > .content {
  margin-top: 100px;
}
#submit_action{
    width: 150px;
}
  </style>
<form id="employeeForm">
   

<div class="page-wrapper">
<div class="content container-fluid">
<div class="row">

<div class="col-xl-12 col-sm-12 col-12 ">
<div class="card">
<div class="card-header">
<div class="col-xl-12 col-sm-12 col-12 " id="topper">
    <div class="breadcrumb-path mb-4" id="top">
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active"> Employees</li>
    </ul>
    <h3>Edit Employee Stack</h3>
    </div>
    </div>
<div class="card-body">

<div class="row">
    <div class="col-xl-6 col-sm-12 col-12 ">
    <div class="form-group">
        <select class="field__input" id="emp_id" name="employee">
            <option value="" selected disabled id="field">Select Employee</option>
            {% for obj in plist %}
                <option value="{{ obj.emp_id }}" {% if obj.emp_id == alist.0.employee.emp_id %} selected {% endif %}>{{ obj.first_name }}</option>
            {% endfor %}
        </select>
    </div>
    </div>
    <div class="col-xl-6 col-sm-12 col-12 ">
    <div class="form-group">
    <input type="text" placeholder="Product_id" name="product_id" id="product_id" value="{{alist.0.product_id}}" />
    <input type="hidden" placeholder="stack_id" name="stack_id" id="stack_id" value="{{alist.0.stack_id}}"/>
    </div>
    </div>
    </div>
    
    <div class="row">
        <div class="col-xl-6 col-sm-12 col-12 ">
        <div class="form-group">
            <input type="text" placeholder="stack_order_id" name="stack_order_id" id="stack_order_id" value="{{alist.0.stack_order_id}}"/>

        </div>
        </div>
        <div class="col-xl-6 col-sm-12 col-12 ">
        <div class="form-group">
        <input type="date" placeholder="stack_date" name="stack_date"  id="stack_date" value="{% if alist.0.stack_date %}{{ alist.0.stack_date|date:'Y-m-d' }}{% endif %}" />
        </div>
        </div>
        </div>
    <div class="row">
        <div class="col-xl-6 col-sm-12 col-12 ">
        <div class="form-group">
        <input type="text" placeholder="stack_location" name="stack_location" id="stack_location" value="{{alist.0.stack_location}}"/>
        </div>
        </div>
        <div class="col-xl-6 col-sm-12 col-12 ">
        <div class="form-group">
        <input type="text" placeholder="stack_quantity" name="stack_quantity" id="stack_quantity" value="{{alist.0.stack_quantity}}"/>
        </div>
        </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-sm-12 col-12 ">
            <div class="form-group">
                <input type="text" placeholder="stack_notes" name="stack_notes" id="stack_notes" value="{{alist.0.stack_notes}}"/>

            </div>
            </div>
            <div class="col-xl-6 col-sm-12 col-12 ">
            <div class="form-group">
                
            </div>
            </div>
            </div>
            
    <div class="row">
        <div class="col-xl-6 col-sm-12 col-12 ">
        <div class="form-group">
            <input type="submit" id="submit_action" class="btn btn-primary" value="Submit">

    
        </div>
        </div>
        <div class="col-xl-6 col-sm-12 col-12 ">
        <div class="form-group">
        
        </div>
        </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      
        <script>
        
        
        
        
          $(document).ready(function(){
            $("#submit_action").click(function(event){
             
              event.preventDefault();
                
              product_id = document.getElementById('product_id').value;
              employee = document.getElementById('emp_id').value;
              product_id = document.getElementById('product_id').value; 
              stack_quantity = document.getElementById('stack_quantity').value; 
              stack_order_id = document.getElementById('stack_order_id').value;
              stack_date=document.getElementById('stack_date').value;
              stack_notes=document.getElementById('stack_notes').value;
                
             
        
        
                 
        
              if(confirm("Are you sure you want to save this Stack?"))     
              {
                $.ajax({
                    url: "{% url 'updateEmployeeStack' %}",
                    type: "POST",
                    data: { 
                'employee':employee,
                'stack_id':stack_id,
                'product_id':product_id,
                'stack_date':stack_date,
                'stack_location':stack_location,
                'stack_notes':stack_notes,
                'stack_quantity':stack_quantity,
                'stack_order_id':stack_order_id,
              
                         },
                    success: function (result)
                     {
                      console.log("result val: ", result);
                        if (result['success']) {
                            alert("stack details edited successfully");
                            window.location.href = "/EmployeeApp/stack_list";
                        } else {
                            alert("Failed to edit stack details: " + result['message']);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('AJAX error:', error);
                    }
                });
        
              }
        
              });
          });
        </script>




{% endblock content %}