{%extends 'ManagerApp/base.html'%}
{%load static%}
{%block content%}
<style>

input {
    padding: 20px;
    border: 0.01px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%; /* Adjust the width as needed */
  }
  #top{
      background-color:  rgb(26, 23, 59);
      color: white;
      margin-top: -15px;

   
  }
  #top ul li{
      color: white;
      margin-top: -5px;
  }
  #top a{
      color: white;
      
  }
  #top h3{
      color: white;
  }
  #submit_action{
      padding: 10px;
  }
  .card .card-header {
  padding: 0px 0px 0px;
}
.page-wrapper > .content {
margin-top: 100px;
}
#submit_action{
  width: 150px;
}
    </style>
<form action="{% url 'Emp_updatePassword' %}" method="POST" id="passwordChangeForm">
    {% csrf_token %}

   

    <div class="page-wrapper">
    <div class="content container-fluid">
    <div class="row">
    
    <div class="col-xl-12 col-sm-12 col-12 ">
    <div class="card">
    <div class="card-header">
    <div class="col-xl-12 col-sm-12 col-12 " id="topper">
        <div class="breadcrumb-path mb-4" id="top">
        <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active"> Employees</li>
        </ul>
        <h3>Create Employee</h3>
        </div>
        </div>
    
    <div class="card-body">
    <div class="row">
    <div class="col-xl-6 col-sm-12 col-12 ">
    <div class="form-group">
        <label>Email Address</label>
        <input type="text" class="form-control" id="email" name="email" value="{{request.session.user}}" readonly>
    </div>
    </div>
    <div class="col-xl-6 col-sm-12 col-12 ">
    <div class="form-group">

    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-xl-6 col-sm-12 col-12 ">
    <div class="form-group">
        <label for="password">Current Password</label><br>
        {% for u in reglist %}
            {% if request.session.user == u.email %}
                <input type="text" class="form-control" id="password" name="password" value="{{ u.password }}" readonly>  
            {% endif %}
        {% endfor %}
    </div>
    </div>
    <div class="col-xl-6 col-sm-12 col-12 ">
    <div class="form-group">
   
    </div>
    </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-sm-12 col-12 ">
        <div class="form-group">
            <label for="password">Change Password</label>
            {% for u in reglist %}
                {% if request.session.user == u.email %}
                     <input type="text" class="form-control" id="pass" name="pass" value="{{u.password}}"> 
                {% endif %}
            {% endfor %} 
        </div>
        </div>
        <div class="col-xl-6 col-sm-12 col-12 ">
        <div class="form-group">
       
        </div>
        </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-sm-12 col-12 ">
            <div class="form-group">
                <label for="password"> Confirm Password</label><br>
                {% for u in reglist %}
                    {% if request.session.user == u.email %}
                        <input type="text" class="form-control" id="confirm_password" name="confirm_password" value="{{ u.confirm_password}}">  
                    {% endif %}
                {% endfor %}
            </div>
            </div>
            <div class="col-xl-6 col-sm-12 col-12 ">
            <div class="form-group">
           
            </div>
            </div>
            </div>
         <div class="row">
            <div class="col-xl-6 col-sm-12 col-12 ">
            <div class="form-group">
                <input type="submit" id="submit_action" class="btn btn-primary" value="Submit">

            </div>
            </div>
            <div class="col-xl-6 col-sm-12 col-12 ">
            <div class="form-group">
            
            </div>
            </div>
            </div>         

 </div>
    </div>
    </div>

                           

{%endblock content%}