{% extends 'Employee_app/base.html' %}
{% load static %}
{% block content %}
<style>
  .page {
    margin: 20px;
    /* transform: translateY(100px); */
    width: 100%;
    margin-left: -8px;
    
  }

  .page-wrapper {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    margin-top: 100px;
   
  }

  .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 

  h2 {
    color: #555a64;
    margin-top: 1px;
    font-size: 27px;
    font-weight: 700;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    transform: translateX(-10px)
  }

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }

  th {
    background-color:  rgb(26, 23, 59);
    color: #fff;
  }

  tbody tr:hover {
    background-color: #f5f5f5;
  }
 .modal-header h3{
  text-align: center;
 }
 #editPlan{
  color: white;
 }

 
</style>
<div class="page" id="pageid">
<div class="page-wrapper">
  <div class="content container-fluid" id="content">
    <center><h2 >Employee Register List</h2></center>
        
    <table class="table table-striped">
      <thead id="head">
        <tr>
            <th>Employee Id</th>
          <th>Employee Name</th>
         <th>Action</th>
        </tr>
      </thead>

      <tbody>
        {% for emp in object_list %}
          <tr>
           
            <td>{{emp.emp_id}}</td>
            <td>{{ emp.first_name }} {{ emp.last_name }}</td>
           
            <td>
             
              <button class="btn btn-warning" id="editPlan" onclick="ViewEmployeeProfile('{{emp.emp_id}}')">View </button>
             

            </td>
          </tr>
        {% endfor %} 
      </tbody> 
    </table>
  </div>
</div>
</div>









<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- ... Your existing HTML code ... -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>



function ViewEmployeeProfile(emp_id) {
  var action = confirm("Are you sure you want to open this Employee?");
  if (action !== false) {
    location.href = "/Employee_app/profiledetail/" + emp_id; // Add a slash here
  }
};

</script>

{% endblock content %}
